<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 목록</title>
</head>
<body>
<h1>게시글 목록</h1>
<table>
    <thead>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성 내용</th>
        <th>작성 날짜</th>
    </tr>
    </thead>
    <tbody>
    <!-- Thymeleaf 반복문을 사용하여 게시글 목록 출력 -->
    <tr th:each="board : ${boardList}">
        <td th:text="${board.boardNo}"> 1</td>
        <td>
            <a th:href="@{'/board/view/' + ${board.boardNo}}" th:text="${board.title}">제목</a>
        </td>
        <td th:text="${board.writer}">작성자</td>
        <td th:text="${board.content}">내용</td>
        <td th:text="${#temporals.format(board.rgstDt, 'yyyy-MM-dd HH:mm')}">등록일</td>
    </tr>
    </tbody>
</table>
</br>
<a href="/board/">홈으로 이동</a>
</br>
<a href="/board/write">게시글 작성</a>
</br>
</body>
</html>
